body{
    background-attachment: fixed;
margin: 0;
    background-color: rgb(235, 236, 129);
   
font-style: fantasy;
    background-image: url(./img/bg.png)
}
.main{
    width: 1170px;
  
    /* position: relative;
    height: 100%;
    min-height: 100vh; */
}



nav {
/* margin: 10px;  
  width: 40em;  */
}
header nav a{
    display: block;
    float:right;
    
    margin: 10px 5px;
    padding: .5em 1em;
    text-decoration: none;
    padding: 3px;
    font: 1.9em fantasy, Verdana, sans-serif;
    border: 2px solid rgb(240, 255, 32);
    border-radius: 6px;
    color: black;
    text-shadow: #666 .1em .1em .1em;
    box-shadow: 0 5px 3px rgba(0,0,0,.5);
    position: relative;
    transition: background-color 0.2s, border-color 0.2s, top .2s .5s, box-shadow .2s .1s;
}
.links__menu:hover{
    background: linear-gradient(rgb(255, 255, 0), red);  
    -webkit-background-clip: text; 
    color: transparent;
text-shadow: none;
    /* color: rgb(40, 255, 105); */
    transition: color .2s ease;
    
}
.links__menu:focus{
    top: 3px;
}
.content{
    padding-left: 50px;
    clear: both;
    /* align-items: center; */


}

.photo{
    width: 50%;
    height: auto;   
    padding:10px;
    float: left;
    border: 10px solid rgb(199, 199, 199);
    border-radius: 20px;
    background-image: url(./img/bg.png);
text-align: center;
    background-color: rgb(226, 244, 247);
    margin:10px;
}
.desc{
    font-size: 1.5em;
    color:rgb(61, 10, 180);
    margin:10px;
}
.image{
    width: 100%;
}
.links{
    width: 500px;
    float: left;

}
.tag{
    padding:10px;
    color: black;
}
.tag:hover{
    background: linear-gradient(rgb(255, 255, 0), red);  
    -webkit-background-clip: text; 
    color: transparent;
    transition: color .2s ease;
}
form{
    clear: both;
    
}
/* footer{
    padding: 10px;
    

    position: absolute;
    bottom: 0;
    width: 98.5%;
    text-align: center;
    background: linear-gradient( rgb(235, 236, 129) 60%, red);
   
        /* background-image: url(./img/bg.png) */
    } */